<html>
    <head>
        <title>Un petit title Merci</title>
        <link rel="icon" href="https://www.favicon.cc/logo3d/399462.png" />
    </head>
    <body>
        <header>
            <h1>Titre de mon site web<img src="https://www.favicon.cc/logo3d/399462.png" width="50px" height="auto"/></h1>
            <nav>
                <ul>
                    <li>Menu 1</li>
                    <li>Menu 2</li>
                    <li>Menu 3</li>
                </ul>
            </nav>
            <hr>
        </header>

        <div class="container">
            <p>
                <h2>Contenu de ma page 2</h2>
            </p>
        </div>
        <footer>
            Copyright OlivierTheBest
        </footer>
    </body>
</html>