{% extends "DIPlatformBundle::layout.html.twig" %}

{% block diplatform_body %}
    {{ user.nom }}
    <br>
    {{ user.prenom }}
    <br>
    {{ user.email}}
    <hr>
    <a href="{{ path('toto') }}">Retourner à la liste</a>
{% endblock %}