{% extends "DIPlatformBundle::layout.html.twig" %}

{% block diplatform_body %}

    <div class="row">
        {{ advert.content }}
    </div>

    <div class="row">
        <a class="btn btn-default" href="{{ path('di_platform_homepage') }}" role="button">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste
        </a>
        <a class="btn btn-default" href="{{ path('di_platform_edit', {'id': advert.id}) }}" role="button">
            <i class="glyphicon glyphicon-edit"></i>
            Modifier l'annonce
        </a>
        <a class="btn btn-danger" href="{{ path('di_platform_delete', {'id': advert.id}) }}" role="button">
            <i class="glyphicon glyphicon-trash"></i>
            Supprimer l'annonce
        </a>
    </div>

{% endblock %}